@media screen and (max-width:500px) {
    .header-content {
        width: 100%;
        padding: 10px;
    }

    .logo-img {
        width: 240px;
    }
    .nav-link.button {
        padding: 5px 15px;
        font-size: 12px;
    }

    .lower-section {
        width: 100%;
        padding: 15px;
        column-gap: 10px;
        flex-direction: column;
        row-gap: 1px;
    }

    .lower-section-2 {
        flex-direction: column-reverse;
    }

    .lower-box {
        padding: 10px;
    }

    .lower-section .lower-box p {
        font-size: 10px;
    }

    .lower-image {
        max-width: 75%;
    }
    .lower-image-left-main {
        max-width: 75%;
        height: auto;
        border-radius: 10px;
        margin-right: 0;
    }

    .baby-sitting-service {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baby-sitting-intro h2 {
        font-size: 2.1rem;
        margin-bottom: 25px;
    }

    .service-box-left {
        border: 2px solid #6b38b1;
        padding: 20px;
        width: 80%;
    }

    .service-box-right {
        border: 2px solid #6b38b1;
        padding: 20px;
        width: 80%;
    }

    .baby-sitting-service {
        gap: 30px;
        padding: 5px;
    }

    .service-info {
        gap: 5px;
    }
    .service-info p {
        font-size: 16px;
        line-height: 22px;
    }

    .service-info h3 {
        font-size: 18px;
    }

    .service-image-left {
        display: none;
    }
    
    .service-image-right {
        display: none;
    }

    .arrow-link .box {
        font-size: 14px;
        padding: 5px 10px;
    }


    .lower-section .our_mission {
        font-size: 12px;
        line-height: 22px;
    }

    .lower-image-layout {
        width: 300px;
        height: 300px;
    }
    .mission-right-section{
        row-gap: 10px;
    }
    .mission-right-section > h2{
        font-size: 1.6rem;
    }



    .container-objects-box {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .object-card {
        width: 90%;
        padding: 25px;
        border-radius: 20px;
    }

    .object-title h3 {
        font-size: 20px;
    }

    .object-title .object-title-icon {
        width: 40px;
        height: 40px;
    }

    .object-description p {
        font-size: small;
    }

    .cs-section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .cs-section-title {
        font-size: 24px;
    }

    .cs-content-pic img {
        width: 350px;
    }
    
    .cs-content-text {
        width: auto;
    }

    .cs-content-text p {
        width: 100%;
        padding: 0;
        font-size: normal;
        text-align: justify;
    }

    .faq-title h2 {
        font-size: 16px;
    }
    .faq-content {
        width: 85%;
    }

    .faq-text {
        justify-content: center;
    }

    .faq-text p{
        padding: 0;
        width: 100%;
    }

    .faq-image {
        right: -11px;
        bottom: -36px;
        opacity: 0.2!important;
    }
    .faq-image-2 {
        left: 0;
        bottom: 5px;
        opacity: 0.2!important;
    }

    .faq-button > a {
       font-size: 16px; 
       bottom: -22px;
    }
    .faq-button .faq-icon {
        width: 20px;
        height: 20px;
    }
}

@media (min-width:501px) and (max-width:700px) {

    .header-content {
        width: 100%;
        padding: 20px;
    }

    .logo-img {
        width: 270px;
    }

    .nav-link.button {
        padding: 5px 20px;
        font-size: 14px;
    }

    .lower-section {
        width: 100%;
        padding: 20px;
        column-gap: 15px;
    }

    .lower-box {
        padding: 15px;
    }

    .lower-section .lower-box p {
        font-size: 10px;
    }

    .lower-image-left {
        max-width: 45%;
        height: auto;
        border-radius: 10px;
        margin-right: 0;
    }

    .baby-sitting-intro h2 {
        font-size: 2.1rem;
    }

    .service-box-left {
        border: 2px solid #6b38b1;
        padding: 20px;
    }

    .service-box-right {
        border: 2px solid #6b38b1;
        padding: 20px;
    }

    .baby-sitting-service {
        gap: 30px;
        padding: 5px;
    }

    .service-info {
        gap: 5px;
    }
    .service-info p {
        font-size: 16px;
        line-height: 22px;
    }

    .service-info h3 {
        font-size: 18px;
    }

    .service-image-left {
        left: -10px;
        bottom: 0;
    }
    
    .service-image-right {
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 20%;
    }

    .arrow-link .box {
        font-size: 14px;
        padding: 5px 10px;
    }

    .lower-section .our_mission {
        font-size: 12px;
        line-height: 22px;
    }

    .lower-image-layout {
        width: 300px;
        height: 300px;
    }

    .mission-right-section > h2{
        font-size: 1.8rem;
    }

    .container-objects-box {
        width: 90%;
    }

    .object-card {
        width: 45%;
        padding: 25px;
        border-radius: 20px;
    }

    .object-title h3 {
        font-size: 20px;
    }

    .object-title .object-title-icon {
        width: 40px;
        height: 40px;
    }

    .object-description p {
        font-size: small;
    }

    .cs-section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .cs-section-title {
        font-size: 28px;
    }

    .cs-content-pic img {
        width: 400px;
    }
    
    .cs-content-text {
        width: auto;
    }

    .cs-content-text p {
        width: 100%;
        padding: 0;
    }

    .faq-title h2 {
        font-size: 18px;
    }
    .faq-content {
        width: 80%;
    }

    .faq-text {
        justify-content: start!important;
    }

    .faq-text p{
        padding: 0;
    }
    .faq-text-2 {
        justify-content: end!important;
        text-align: right;
        text-wrap: wrap;
    }

    .faq-image {
        right: -65px;
        bottom: -70px;
    }
    .faq-image-2 {
        left: -75px;
        bottom: -25px;
    }
}

@media (min-width : 701px) and (max-width:900px) {
    .header-content {
        width: 100%;
        padding: 0px 20px;
    }

    .lower-section {
        width: 100%;
        padding: 40px;
    }

    .lower-box {
        padding: 15px;
    }

    .lower-section .lower-box p {
        font-size: small;
    }

    .lower-image-left {
        max-width: 45%;
        height: auto;
        border-radius: 10px;
    }

    .baby-sitting-intro h2 {
        font-size: 2.5rem;
    }

    .service-box-left {
        border: 3px solid #6b38b1;
        padding: 30px;
    }

    .service-box-right {
        border: 3px solid #6b38b1;
        padding: 30px;
    }

    .baby-sitting-service {
        gap: 30px;
        padding: 5px;
    }

    .service-info {
        gap: 5px;
    }
    .service-info p {
        font-size: 18px;
        line-height: 24px;
    }

    .service-image-left {
        left: 0;
        bottom: 0;
    }
    
    .service-image-right {
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 20%;
    }

    .arrow-link .box {
        font-size: 14px;
        padding: 5px 10px;
    }

    .lower-section .our_mission {
        font-size: 18px;
        line-height: 26px;
    }

    .object-card {
        width: 45%;
        padding: 25px;
    }

    .object-title h3 {
        font-size: 20px;
    }

    .object-title .object-title-icon {
        width: 40px;
        height: 40px;
    }


    .cs-section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .cs-section-title {
        font-size: 28px;
    }

    .cs-content-pic img {
        width: 400px;
    }
    
    .cs-content-text {
        width: auto;
    }

    .cs-content-text p {
        width: 100%;
        padding: 0;
    }

    .faq-content {
        width: 70%;
    }

    .faq-text-2 {
        justify-content: end!important;
        text-align: right;
    }

    .faq-image-2 {
        left: -115px;
    }
}

@media (min-width: 901px) and (max-width:1024px){

    .lower-section {
        width: 100%;
        padding: 40px;
    }

    .lower-box {
        padding: 15px;
    }

    .lower-section .lower-box p {
        font-size: large;
    }

    .baby-sitting-intro h2 {
        font-size: 3rem;
    }

    .service-box-left {
        padding: 45px;
    }

    .service-box-right {
        padding: 45px;
    }

    .baby-sitting-service {
        gap: 30px;
        padding: 5px;
    }

    .service-info p {
        font-size: 20px;
        line-height: 30px;
    }

    .service-image-left {
        left: 0;
        bottom: 0;
    }
    
    .service-image-right {
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 200px;
    }

    .object-card {
        width: 45%;
        padding: 25px;
    }

    .cs-section-title {
        font-size: 28px;
    }

    .cs-content-pic img {
        width: 380px;
    }
    
    .cs-content-text {
        width: 600px;
    }

    .faq-content {
        width: 55%;
    }

    
}
@media (min-width: 1025px) and (max-width : 1280px){

    .lower-section {
        width: 100%;
        padding: 40px;
    }
    .lower-box {
        padding: 20px;
    }

    .baby-sitting-intro h2 {
        font-size: 3rem;
    }

    .service-box-left {
        padding: 50px;
    }

    .service-box-right {
        padding: 50px;
    }


    .object-card {
        width: 28%;
        padding: 25px;
    }

    .faq-content {
        width: 50%;
    }

 
}